<div id="<%= dom_id comment %>">
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= comment.rating %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= comment.product_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= comment.customer_id %>
  </p>

</div>
