<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= customer.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= customer.DOB %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= customer.card_id %>
  </p>

</div>
