<div id="<%= dom_id order %>">
  <p>
    <strong>Payment method:</strong>
    <%= order.payment_method %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

  <p>
    <strong>Date ordered:</strong>
    <%= order.date_ordered %>
  </p>

  <p>
    <strong>Date recieved:</strong>
    <%= order.date_recieved %>
  </p>

  <p>
    <strong>Recieved:</strong>
    <%= order.recieved %>
  </p>

</div>
