<div id="<%= dom_id products_ordered %>">
  <p>
    <strong>Order:</strong>
    <%= products_ordered.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= products_ordered.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= products_ordered.quantity %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= products_ordered.comments %>
  </p>

</div>
