
<h1>Your Order</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>

    </tr>
  </thead>
  <tbody>
    <% total_price = 0 %>
    <% @cart_contents.each do |product_id, quantity| %>
      <% product = Product.find(product_id) %>
      <tr>
        <td><%= product.name %></td>
        <td><%= quantity %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= number_to_currency(product.price * quantity) %></td>
        <% total_price += (product.price * quantity) %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">


<% @present_address = nil %>
<% if user_signed_in? %>

  <% now_user = User.find_by_id(current_user.id) %>
  <% @present_address = Address.where(user_id: current_user.id) %>

<% end %>

<% if @present_address.any?  %>
    <p>Address: <%= @present_address[0].address %></p>
    <p>Postal: <%= @present_address[0].postal %></p>
    <p>Province: <%= @present_address[0].province %></p>


    <div class="container">
        GST: <%= number_to_currency(CartsController::GST * total_price /100 )%>
        <br>
          HST/PST: <%= number_to_currency(CartsController::State_tax[@present_address[0].province] *total_price / 100)%>
        <br>
        Total: <%=  number_to_currency(total_price +CartsController::State_tax[@present_address[0].province] *total_price / 100 + CartsController::GST * total_price /100 ) %>
    </div>

    <%= form_tag place_order_path, method: :post do %>
      <%= submit_tag "Place Order" %>
    <% end %>





<% else %>
  <% if @address.present? %>
    <div>
      GST: <%= number_to_currency(CartsController::GST * total_price /100 )%>
      <br>
        HST/PST: <%= number_to_currency(CartsController::State_tax[@province] *total_price / 100)%>
      <br>
      Total: <%=  number_to_currency(total_price +CartsController::State_tax[@province] *total_price / 100 + CartsController::GST * total_price /100 ) %>
    </div>


    <div class="container">
    <h3>Shipping Address</h3>
    <p><strong>Address:</strong> <%= @address %></p>
    <p><strong>Postal Code:</strong> <%= @postal_code %></p>
    <p><strong>Province:</strong> <%= @province %></p>

    <%= form_tag place_order_path, method: :post do %>
    <%= submit_tag "Place Order" %>
  <% end %>

    </div>
  <% else%>
    <%= render "address_form" %>
  <% end %>
<% end %>

