<% if session[:cart].present? %>
  <h1>Your Cart</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_contents.each do |product_id, quantity| %>
      <% product = Product.find(product_id) %>
      <tr>
        <td><%= product.name %></td>
        <td>
          <%= form_tag update_quantity_cart_path, method: :post do %>
            <%= hidden_field_tag 'product_id', product_id %>
            <%= number_field_tag 'quantity', quantity, min: 1 %>
            <%= submit_tag 'Update' %>
          <% end %>
        </td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= number_to_currency(product.price * quantity) %></td>
        <td>
          <%= link_to 'Remove', remove_item_cart_path(product_id), data: { "turbo-method": :delete } , class:'nav-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Continue Shopping', products_path %>

<% else %>
  <p>Your cart is empty.</p>
<% end %>