<% if session[:cart].present? %>
  <h2>Cart</h2>
  <ul>
    <% session[:cart].each do |product_id, quantity| %>
      <li>
        <%= Product.find(product_id).name %> - Quantity:
        <%= form_tag update_quantity_cart_path, method: :post do %>
          <%= hidden_field_tag :product_id, product_id %>
          <%= number_field_tag :quantity, quantity, min: 1 %>
          <%= submit_tag "Update" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Your cart is empty.</p>
<% end %>