<div id="<%= dom_id price %>">
  <p>
    <strong>Price:</strong>
    <%= price.price %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= price.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= price.to_date %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= price.product_id %>
  </p>

</div>
