<div id="<%= dom_id address %>">
  <p>
    <strong>Address:</strong>
    <%= address.address %>
  </p>

  <p>
    <strong>Postal:</strong>
    <%= address.postal %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= address.province %>
  </p>

  <p>
    <strong>User:</strong>
    <%= address.user_id %>
  </p>

</div>
