<div id="<%= dom_id card %>">
  <p>
    <strong>Number:</strong>
    <%= card.number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= card.address %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= card.cvv %>
  </p>

  <p>
    <strong>Exp date:</strong>
    <%= card.exp_date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= card.customer_id %>
  </p>

</div>
