<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">

<% if @products.present? %>
  <h2>Search Results</h2>
  <ol>
    <% @products.each do |product| %>
    <div class="container">
      <li>
        <%= link_to product.name, product %> - <%= product.category.name %>
        <%= link_to "Add to Cart", add_to_cart_product_path(product), data: { "turbo-method": :post } %>
      </li>
    </div>
    <% end %>
  </ol>
  <%= paginate @products %> <!-- Add pagination links here -->
<% else %>
  <p>No products found.</p>
<% end %>

</div>

<%= link_to "New product", new_product_path %>
