<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">

<% if @products.present? %>
  <h2>Search Results</h2>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= product.name %> - <%= product.category.name %>
      </li>
    <% end %>
  </ul>
  <%= paginate @products %> <!-- Add pagination links here -->
<% else %>
  <p>No products found.</p>
<% end %>

</div>

<%= link_to "New product", new_product_path %>
