<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">

<% if @products.present? %>
  <h2>Search Results</h2>
  <ol>
    <% @products.each do |product| %>
    <div class="container m-3">
      <li>
        <%= link_to product.name, product %> - <%= product.category.name %>
        <%= form_tag(add_to_cart_product_path(product), method: :post) do %>
          <%= submit_tag "Add to Cart" %>
        <% end %>

      </li>
    </div>
    <% end %>
  </ol>
  <%= paginate @products %> <!-- Add pagination links here -->
<% else %>
  <p>No products found.</p>
<% end %>

</div>

